/* API.css */

:root {
  /* Colors */
  --endpoint-bg-get: linear-gradient(90deg, #185f29, #28a745, #185f29);
  --endpoint-bg-post: linear-gradient(90deg, #24558a, #007bff, #24558a);
  --endpoint-bg-put: linear-gradient(90deg, #af8a1c, #d6aa24, #af8a1c);
  --endpoint-bg-delete: linear-gradient(90deg, #8f202b, #dc3545, #8f202b);
  --endpoint-bg-patch: linear-gradient(90deg, #9e5c06, #d67d08, #9e5c06);
  
  --history-padding: 3px;
  --history-text: black;
  
  --header-background: #ffffff7e;
  --header-border: 1px solid black;
  --header-text: black;

  --background-size: 200% 100%;
  --background-position-start: 100% 0%;
  --background-position-end: 0% 0%;

  --error-colour: #f37676;

  --get-colour: #28a745;
  --post-colour: #007bff;
  --put-colour: #d6aa24;
  --delete-colour: #dc3545;
  --patch-colour: #d67d08;
}

.history-container {
  margin-bottom: 2px;
  max-height: 170px;
  overflow-y: auto;
}

.history-details {
  padding: var(--history-padding);
  color: var(--history-text);
  border: 1px solid #969696;
  border-radius: var(--container-radius);
  cursor: 'pointer';
  margin-bottom: 2px;
}

.history-details.success {background-color: #b9f7c9;}
.history-details.error {background-color: #f7b0b0;}

.history-recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: 'pointer';
}

.response-status.success { color: #28a745; }
.response-status.error   { color: var(--error-colour); }

.response-preview {
  color: var(--header-text);
  background-color: var(--header-background);
  border: var(--header-border);
  border-radius: var(--container-radius);
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.endpoint-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 70vh;
  height: fit-content;
  box-sizing: border-box;
  padding-right: 5px;
}

.endpoint-group-title.admin-only {
  color: var(--error-colour);
}

.endpoint-item {
  padding: 5px;
  background: white;
  border: none;
  border-radius: var(--container-radius);
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.endpoint-item-get {
  background: var(--endpoint-bg-get); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}
.endpoint-item-post { 
  background: var(--endpoint-bg-post); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}

.endpoint-item-put { 
  background: var(--endpoint-bg-put); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}

.endpoint-item-delete { 
  background: var(--endpoint-bg-delete); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}

.endpoint-item-patch { 
  background: var(--endpoint-bg-patch); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}

.endpoint-item:hover {
  box-shadow: var(--btn-shadow-hover);
  transform: translateY(-1px);
  background-position: var(--background-position-end);
}

.endpoint-item:active {
  transform: translateY(0);
}

.endpoint-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.endpoint-path {
  /* background: #55a8fc; */
  color: black;
}

.endpoint-description {
  color: black;
  margin-left: 5px;
}

.method-badge {
  display: inline-block;
  width: fit-content;
  min-width: 50px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--container-radius);
  margin-right: 5px;
}

.method-get { background: var(--get-colour); }
.method-post { background: var(--post-colour); }
.method-put { background: var(--put-colour); }
.method-delete { background: var(--delete-colour); }
.method-patch { background: var(--patch-colour); }
