/* elements.css */

body {
  margin: 0;
  color: #d8d8d8;
  background-color: #172235;
}

:root {
  /* Colors */
  --container-bg: #ffffff2a;
  --container-border: 1px solid #6fbf8c;
  --container-padding: 1rem;
  --container-margin: .5rem;
  --container-text: white;
  --container-radius: 8px;

  --card-bg: #6fbf8c;
  --card-text: black;
  --card-padding: .75rem;
  --card-margin: 1rem;
  --card-width-min: 250px;

  --element-bg: #c4c4c4;
  --element-border: 2px solid #fafafa;
  --element-border-focus: #6fbf8c;
  --element-text: black;
  --element-placeholder: #303030;

  --slider-fill-color: #6fbf8c;
  --slider-bg: #fafafa;
  
  --table-border: 1px solid #0000007c;
}

/* Card */
.card {
  flex: 1;
  background: var(--card-bg);
  border: none;
  border-radius: var(--container-radius);
  color: var(--card-text);
  width: var(--card-width-min);
  margin: auto;
  padding: var(--card-padding);
  align-items: center;
  text-align: center;
}

.card-grid {
  flex: 1;
  min-height: fit-content;
  display: flex;
  gap: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  background: var(--container-bg);
  border: var(--container-border);
  border-radius: var(--container-radius);
  width: fit-content;
  /* margin: var(--container-margin); */
  padding: var(--container-padding);
  align-items: stretch;
  color: var(--container-text);
}

/* Background */
.background-image {
  position: fixed;
  top: 76px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  align-items: center;
  opacity: 30%;
}

.background-image::before {
  content: "";
  position: absolute;
  top: -76px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  background: url("../assets/background.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.dashboard-container {
  position: relative;
  margin: 0 auto 120px;
  max-width: 90vw;
  min-height: 30vh;
  max-height: 60vh;
  background: var(--container-bg);
  border: var(--container-border);
  border-radius: var(--container-radius);
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: stretch;
  justify-content: space-between;
}

.center {
  margin: auto;
  margin-top: var(--container-margin);
  margin-bottom: var(--container-margin);
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 10vw;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: right;
  vertical-align: bottom;
  max-width: 10vw;
}

/* evat logo */
.logo-image {
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: auto;
}

.profile-image {
  width: 100px;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  position: absolute;
  display: block;
  margin: 0 auto;
}

.icon {
  margin: 0.1rem;
  padding: 0.1rem;
  vertical-align: middle;
}

.character-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  position: absolute;
  margin: auto;
}

.spacer {
  margin: 0.1rem;
  padding: 1rem;
}

.full-width {
  padding: 1rem;
  width: auto;
  margin: 1rem;
}

.full-height {
  padding: 1rem;
  height: auto;
  margin: 1rem;
}

