/* elements.css */

body {
  margin: 0;
  color: #d8d8d8;
  background-color: #172235;
}

:root {
  /* Colors */
  --container-bg: #ffffff2a;
  --container-border: 1px solid #6fbf8c;
  --container-padding: 1rem;
  --container-margin: .5rem;
  --container-text: white;
  --container-radius: 8px;

  --card-bg: #6fbf8c;
  --card-text: black;
  --card-padding: .75rem;
  --card-margin: 1rem;
  --card-width-min: 250px;

  --element-bg: #c4c4c4;
  --element-border: 2px solid #fafafa;
  --element-border-focus: #6fbf8c;
  --element-text: black;
  --element-placeholder: #303030;
  
  --history-padding: 3px;
  --history-text: black;

  --header-background: #ffffff7e;
  --header-border: 1px solid black;
  --header-text: black;

  --error-colour: #f37676;
  
  --endpoint-bg-get: linear-gradient(90deg, #185f29, #28a745, #185f29);
  --endpoint-bg-post: linear-gradient(90deg, #24558a, #007bff, #24558a);
  --endpoint-bg-put: linear-gradient(90deg, #af8a1c, #d6aa24, #af8a1c);
  --endpoint-bg-delete: linear-gradient(90deg, #8f202b, #dc3545, #8f202b);
  --endpoint-bg-patch: linear-gradient(90deg, #9e5c06, #d67d08, #9e5c06);
  
  --background-size: 200% 100%;
  --background-position-start: 100% 0%;
  --background-position-end: 0% 0%;
}

/* Card */
.card {
  flex: 1;
  background: var(--card-bg);
  border: none;
  border-radius: var(--container-radius);
  color: var(--card-text);
  width: var(--card-width-min);
  margin: auto;
  padding: var(--card-padding);
  align-items: center;
  text-align: center;
}

.card-grid {
  flex: 1;
  min-height: fit-content;
  display: flex;
  gap: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  background: var(--container-bg);
  border: var(--container-border);
  border-radius: var(--container-radius);
  width: fit-content;
  /* margin: var(--container-margin); */
  padding: var(--container-padding);
  align-items: stretch;
  color: var(--container-text);
}

/* Background */
.background-image {
  position: fixed;
  top: 76px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  align-items: center;
  opacity: 30%;
}

.background-image::before {
  content: "";
  position: absolute;
  top: -76px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  background: url("../assets/background.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.dashboard-container {
  position: relative;
  margin: 0 auto 120px;
  max-width: 90vw;
  min-height: 30vh;
  max-height: 60vh;
  background: var(--container-bg);
  border: var(--container-border);
  border-radius: var(--container-radius);
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: stretch;
  justify-content: space-between;
}

.center {
  margin: auto;
  margin-top: var(--container-margin);
  margin-bottom: var(--container-margin);
}

/* Make the entire page content scrollable */
.grid-content {
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 12px;
  flex: 1;
  min-height: 0;                    /* crucial for flex children to shrink */
  padding: 1rem;
  overflow: hidden;                 /* prevent double scrollbars */
  box-sizing: border-box;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 10vw;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: right;
  vertical-align: bottom;
  max-width: 10vw;
}

/* evat logo */
.logo-image {
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: auto;
}

.profile-image {
  width: 100px;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  position: absolute;
  display: block;
  margin: 0 auto;
}

.icon {
  margin: 0.1rem;
  padding: 0.1rem;
  vertical-align: middle;
}

.character-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  position: absolute;
  margin: auto;
}

.spacer {
  margin: 0.1rem;
  padding: 1rem;
}

/* Full Width */
.full-width,
.btn-full {
  width: 100%;
  min-width: unset;
}

.two-hundred-width {
  width: auto;
  min-width: 200px;
}

.one-hundred-width {
  width: auto;
  min-width: 100px;
}

.half-width {
  width: 50%;
  min-width: unset;
}

.fit-height {
  height: auto;
  overflow-y: scroll;
  min-height: 150px;
  max-height: 500px;
}

.auto-width {
  width: auto;
  margin: 1rem;
}

.auto-height {
  height: auto;
  margin: 1rem;
}

.force-height {
  max-height: 600px;
  overflow-x: scroll;
}

.history-container {
  margin-bottom: 2px;
  max-height: 170px;
  overflow-y: auto;
}

.history-details {
  padding: var(--history-padding);
  color: var(--history-text);
  border: 1px solid #969696;
  border-radius: var(--container-radius);
  cursor: 'pointer';
  margin-bottom: 2px;
}

.history-details.success {background-color: #b9f7c9;}
.history-details.error {background-color: #f7b0b0;}

.history-recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: 'pointer';
}

.response-status.success { color: #28a745; }
.response-status.error   { color: var(--error-colour); }

.response-preview {
  color: var(--header-text);
  background-color: var(--header-background);
  border: var(--header-border);
  border-radius: var(--container-radius);
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.endpoint-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 70vh;
  height: fit-content;
  box-sizing: border-box;
  padding-right: 5px;
}

.endpoint-group-title.admin-only {
  color: var(--error-colour);
}

.endpoint-item {
  padding: 5px;
  background: white;
  border: none;
  border-radius: var(--container-radius);
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.endpoint-item-get {
  background: var(--endpoint-bg-get); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}
.endpoint-item-post { 
  background: var(--endpoint-bg-post); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}

.endpoint-item-put { 
  background: var(--endpoint-bg-put); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}

.endpoint-item-delete { 
  background: var(--endpoint-bg-delete); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}

.endpoint-item-patch { 
  background: var(--endpoint-bg-patch); 
  background-size: var(--background-size);
  background-position: var(--background-position-start);
}

.endpoint-item:hover {
  box-shadow: var(--btn-shadow-hover);
  transform: translateY(-1px);
  background-position: var(--background-position-end);
}

.endpoint-item:active {
  transform: translateY(0);
}

.endpoint-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.endpoint-path {
  /* background: #55a8fc; */
  color: black;
}

.endpoint-description {
  color: black;
  margin-left: 5px;
}

.method-badge {
  display: inline-block;
  width: fit-content;
  min-width: 50px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--container-radius);
  margin-right: 5px;
}

.method-get { background: #28a745; }
.method-post { background: #007bff; }
.method-put { background: #d6aa24; }
.method-delete { background: #dc3545; }
.method-patch { background: #d67d08; }