.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #172235;
    padding: 0.5rem 0.5rem;
    top: 0;
    left: 0;
    right: 0;
    height: 6vh;
    z-index: 1000;
    flex-wrap: nowrap;
    position: sticky;
}

.left-navbar {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    min-width: 0;
    margin-left: 1rem;
}

.title-navbar {
  margin: 0.1rem;
  padding: 0.1rem;
  padding-left: 2rem;
  vertical-align: middle;
}

.logo-navbar {
    width: auto;
    height: 50px;
    flex-shrink: 0;
}

.right-navbar {
    display: flex;
    margin-right: 1.5rem;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}

.icon-navbar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('../assets/profileIcon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex-shrink: 0;
}

/* @media (max-width: 1024px) {
    .left-section {
        gap: 0.2rem;
        margin-left: 1rem;
    }

    .nav-button {
        font-size: 0.9rem;
    }

    .icon-navbar {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: row;
        align-items: flex-start;
        padding: 0.5rem 1rem;
    }

    .left-section {
        margin-left: 0.5rem;
        margin-bottom: 0;
    }

    .right-section {
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-end;
        margin-left: auto;
        margin-right: 1rem;
    }

    .nav-buttons {
        flex-direction: column;
        gap: 0.1rem;
        width: auto;
        align-items: flex-end;
        margin-right: 1rem;
    }

    .nav-button {
        width: auto;
        max-width: 160px;
        text-align: right;
        margin-right: 0;
    }

    .icon-navbar {
        display: none;
    }

    .logo-text {
        display: none;
    }

    .logo {
        width: 70px;
        height: 70px;
    }
} */