
/* Filter Overlay */
.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.705);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Smart Filter Panel */
.filter-container {
  background: var(--sidebar-bg);
  border-radius: var(--container-radius);
  max-height: 80vh;
  overflow-y: auto;
  max-width: 30vw;
  z-index: 1;
}

/* Header */
.filter-header {
  background-color: var(--navbar-bg);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 30px;
  max-height: 40px;
}

/* Footer */
.filter-footer {
  background-color: var(--navbar-bg);
}

/* Filter Sections */
.filter-section {
  padding: 20px;
}

/* Filter Options */
.filter-options {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

/* Price Range Slider */
.price-slider-container {
  margin-top: 1rem;
  position: relative;
}

.price-slider {
  position: absolute;
  pointer-events: none;
}

.price-slider-labels {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

/* Toggle Switch */
.toggle-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* toggle background */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 24px;
}

/* toggle ball */
.toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

/* toggle background while on */
input:checked + .toggle-slider {
  background-color: var(--element-border-focus);
}

/* toggle ball position while on */
input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

/* Responsive */
@media (max-width: 768px) {
  .filter-toggle-button {
    top: 130px; /* push below mobile navbar */
  }
}

@media (max-width: 480px) {
  .smart-filter-panel {
    width: 95%;
    margin: 1rem;
  }
  .filter-section {
    padding: 1rem;
  }
  .filter-actions {
    padding: 1rem;
  }
  .filter-button {
    min-width: 70px;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }
}
